<% include partials/header %>
<h1>Welcome to the love page</h1>
<p>You have fallen in love with <%= thingVar %></p>
<img src="/pics/<%= thingVar %>.jpg" alt="Here should the pictures">
<% include partials/footer %>







